# Ignorar archivos de credenciales


# Ignorar archivos de Visual Studio
.vsidx
.suo
obj/
*.dll
*.config
*.XML
*.a
*.cache
*.class

# Ignorar archivos de construcción y configuración de MAUI
/obj/
*.apk
*.ipa
*.pdb
*.DS_Store
*.log
