<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Backend.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=SQL5113.site4now.net;Persist Security Info=True;User ID=db_aa7784_bdemprende_admin;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Backend.Properties.Settings.DataSourceConnectionString1"
            connectionString="Data Source=SQL5113.site4now.net;Persist Security Info=True;User ID=db_aa7784_bdemprende_admin;Password=una123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Backend.Properties.Settings.SarapiquiEmprendeConnectionString"
            connectionString="Data Source=DESKTOP-GS5ITPH\FERNANDO;Initial Catalog=SarapiquiEmprende;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Backend.Properties.Settings.db_aa7784_bdemprendeConnectionString"
            connectionString="Data Source=SQL5113.site4now.net;Persist Security Info=True;User ID=db_aa7784_bdemprende_admin;Password=una123456;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Backend.Properties.Settings.DataSourceConnectionString2"
            connectionString="Data Source=SQL5113.site4now.net;Persist Security Info=True;User ID=db_aa7784_bdemprende_admin;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Backend.Properties.Settings.db_aa7784_bdemprendeConnectionString1"
            connectionString="Data Source=SQL5113.site4now.net;Initial Catalog=db_aa7784_bdemprende;Persist Security Info=True;User ID=db_aa7784_bdemprende_admin;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Backend.Properties.Settings.db_aa7784_bdemprendeConnectionString2"
            connectionString="Data Source=SQL5113.site4now.net;Initial Catalog=db_aa7784_bdemprende;Persist Security Info=True;User ID=db_aa7784_bdemprende_admin;Password=una123456;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>