<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Backend.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=SQL5113.site4now.net;Persist Security Info=True;User ID=db_aa7784_bdemprende_admin;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>